<div class="layui-header">
            <div class="ht-console">
                <div class="ht-user">
                    <img src="images/Logo_40.png" />
                    <a class="ht-user-name">超级管理员</a>
                </div>
            </div>
            <span class="sys-title">不落阁后台管理系统</span>
            <ul class="ht-nav">
                <li class="ht-nav-item">
                    <a target="_blank" href="javascript:;">前台入口</a>
                </li>
                <li class="ht-nav-item">
                    <a href="javascript:;" id="individuation"><i class="fa fa-tasks fa-fw" style="padding-right:5px;"></i>个性化</a>
                </li>
                <li class="ht-nav-item">
                    <a href="{:U('Login/login')}"><i class="fa fa-power-off fa-fw"></i>注销</a>
                </li>
            </ul>
        </div>